@{
    ViewBag.Title = "销假处理";
    var F = @Html.F();
}

@model IEnumerable<qingjia_MVC.Models.vw_LeaveList>

@section head{
    <style>
    .badge {
        display: inline-block;
        padding: 0 4px;
        font-size: 12px;
        line-height: 16px;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        background-color: #999;
        border-radius: 10px;
        margin-left: 8px;
    }

    .badge-danger {
        background-color: #d15b47 !important;
    }
</style>
    }

@section script{
    <script srd="~/res/js/grid.js"></script>
    <script>

    //第一个搜索框的值
    var _lastTriggerBoxValue_01;
    //第二个搜索框的值
    var _lastTriggerBoxValue_02;
    //第三个搜索框的值
    var _lastTriggerBoxValue_03;

    function btnCancel(value, params) {
        var deleteImageUrl = '@Url.Content("~/res/icon/delete.png")';
        return '<a class="action-btn btnCancel" href="javascript:;"><img class="f-grid-cell-icon" src="' + deleteImageUrl + '"></a>';
    }

    function btnAgree(value, params) {
        var agreeImageUrl = '@Url.Content("~/res/icon/accept.png")';
        return '<a class="action-btn btnAgree" href="javascript:;"><img class="f-grid-cell-icon" src="' + agreeImageUrl + '"></a>';
    }

    @*//打印假条
    function print(rowData) {
        var iframeWindowUrl = '@Url.Content("~/Print/print")';
        var iframeUrl = iframeWindowUrl + '?id=' + rowData.id;

        // 显示窗体
        F.ui.printWindow.show(iframeUrl, '打印假条 - ' + rowData.id);
    }*@

    //同意请假
        function agree(selectedRows) {
            var thSort = $('.f-grid-sortable');

            var sortField = thSort.attr('data-columnid');
            var sortDirection = "";
            if (thSort.hasClass('f-grid-sort-ASC')) {
                sortDirection = "ASC";
            }
            if (thSort.hasClass('f-grid-sort-DESC')) {
                sortDirection = "DESC";
            }

            // 触发后台事件
            F.doPostBack('@Url.Action("btnAgreeClick_Back")', {
                'selectedRows': selectedRows,
                'gridLeaveList_fields': F.ui.gridLeaveList_Back.fields,
                'sortField': sortField,
                'sortDirection': sortDirection
            });
        }

        function cancel(selectedRows) {
            // 触发后台事件
            F.doPostBack('@Url.Action("cancelWindow_Show")', {
                'selectedRows': selectedRows,
                'gridLeaveList_fields': F.ui.gridLeaveList_Back.fields
            });
        }

    //搜索框一事件
        function onTwinTriggerBox1Blur(event) {
            var value = this.getValue();

            // 值改变时才回发
            if (value !== _lastTriggerBoxValue_01) {
                _lastTriggerBoxValue_01 = value;

                // 触发后台事件
                F.doPostBack('@Url.Action("TwinTriggerBox1_Trigger2Click_Back")', {
                    'text': F.ui.TwinTriggerBox1.getValue()
                });
            }
        }
    //搜索框二事件
    function onTwinTriggerBox2Blur(event) {
        var value = this.getValue();

        // 值改变时才回发
        if (value !== _lastTriggerBoxValue_02) {
            _lastTriggerBoxValue_02 = value;

            // 触发后台事件
            F.doPostBack('@Url.Action("TwinTriggerBox2_Trigger2Click_Back")', {
                'text': F.ui.TwinTriggerBox2.getValue()
            });
        }
    }
    //搜索框三事件
    function onTwinTriggerBox3Blur(event) {
        var value = this.getValue();

        // 值改变时才回发
        if (value !== _lastTriggerBoxValue_03) {
            _lastTriggerBoxValue_03 = value;

            // 触发后台事件
            F.doPostBack('@Url.Action("TwinTriggerBox3_Trigger2Click_Back")', {
                'text': F.ui.TwinTriggerBox3.getValue()
            });
        }
    }

    F.ready(function () {

        // 设置 TwinTriggerBox1 初始值
        _lastTriggerBoxValue_01 = F.ui.TwinTriggerBox1.getValue();
        // 设置 TwinTriggerBox2 初始值
        _lastTriggerBoxValue_02 = F.ui.TwinTriggerBox2.getValue();
        // 设置 TwinTriggerBox3 初始值
        _lastTriggerBoxValue_03 = F.ui.TwinTriggerBox3.getValue();
        console.log();

        var grid1 = F.ui.gridLeaveList_Back;
        grid1.el.on('click', 'a.action-btn', function (event) {
            var cnode = $(this);

            if (cnode.hasClass('btnCancel')) {
                var rowE1 = $(this).closest('.f-grid-row');
                var rowData = grid1.getRowData(rowE1);
                //驳回请假
                cancel([rowData.id]);
            }
            else if (cnode.hasClass('btnAgree')) {
                var rowE1 = $(this).closest('.f-grid-row');
                var rowData = grid1.getRowData(rowE1);
                //同意请假
                agree([rowData.id]);
            }
            else {

            }
        });
    });

    function renderExpanderDetail(value, params) {
        var LeaveType = "";
        var returnString = "";
        returnString = '<div class="expander">' +
            '<p><strong>联系人：</strong>' + params.rowData.values.ContactOne + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + '<strong>联系方式：</strong>' + params.rowData.values.OneTel + '</p>';
        returnString = returnString + '<p><strong>请假原因：</strong>' + params.rowData.values.Reason + '</p>';
        LeaveType = (params.rowData.values.LeaveType).substring(0, 4);
        if (LeaveType == "节假日请") {
            returnString = returnString + '<p><strong>离校方式：</strong>' + params.rowData.values.LeaveWay + '</p>' +
            '<p><strong>返校方式：</strong>' + params.rowData.values.BackWay + '</p>';
        }
        if (LeaveType == "上课请假") {
            returnString = returnString + '<p><strong>请假课段：</strong>' + params.rowData.values.Lesson + '</p>' +
            '<p><strong>任课老师：</strong>' + params.rowData.values.Teacher + '</p>';
        }
        return returnString + '</div>';
    }
    </script>
}

@section body{

    @*<div id="content1">
            <div>
                请输入驳回理由：
            </div>
            @(
                F.TextArea()
                    .ID("TextArea1")
                    .EmptyText("文本框的高度会自动扩展")
                    .AutoGrowHeight(false)
                    .Width(1000)
                    .Height(80)
                    .MaxLength(30)
                    )

            )
        </div>*@

    @(
 F.Panel()
        .ShowBorder(false)
        .ShowHeader(false)
        .IsViewPort(true)
        .Layout(LayoutType.Fit)
        .Items(
        F.Grid()
            .AllowSorting(true)
            .SortDirection("")
            .SortField("")
            .EnableCollapse(true)
            .Title(ViewBag.GridBackTitle)
            .ShowHeader(true)
            .ShowBorder(true)
            .ID("gridLeaveList_Back")
            .EnableCheckBoxSelect(true)
            .AllowPaging(true)
            .PageSize(20)
            .DataIDField("ID")
            .Toolbars(
                F.Toolbar()
                    .ID("btngroup")
                    .Items(
                        F.Button()
                            .ID("btnTotal")
                            .MarginLeft(60)
                            .MarginRight(10)
                                    .OnClick(Url.Action("btnTotal_ReloadData_Back"), new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .Text(ViewBag.totalNumBack),
                        F.ToolbarSeparator()
                            .MarginLeft(10)
                            .MarginRight(10),
                        F.Button()
                            .ID("btnShort")
                            .MarginLeft(10)
                            .MarginRight(10)
                                    .OnClick(Url.Action("btnShort_ReloadData_Back"), new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .Text(ViewBag.shortNumBack),
                        F.ToolbarSeparator()
                            .MarginLeft(10)
                            .MarginRight(10),
                        F.Button()
                            .ID("btnLong")
                            .MarginLeft(10)
                            .MarginRight(10)
                                    .OnClick(Url.Action("btnLong_ReloadData_Back"), new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .Text(ViewBag.longNumBack),
                        F.ToolbarSeparator()
                            .MarginLeft(10)
                            .MarginRight(10),
                        F.Button()
                            .ID("btnHoliday")
                            .MarginLeft(10)
                            .MarginRight(10)
                                    .OnClick(Url.Action("btnHoliday_ReloadData_Back"), new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .Text(ViewBag.holidayNumBack),
                        F.ToolbarSeparator()
                            .MarginLeft(10)
                            .MarginRight(10),
                        F.Button()
                            .ID("btnCall")
                            .MarginLeft(10)
                            .MarginRight(10)
                                    .OnClick(Url.Action("btnCall_ReloadData_Back"), new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .Text(ViewBag.nightNumBack),
                        F.ToolbarSeparator(),
                        F.Button()
                            .ID("btnClass")
                            .Hidden(true)
                            .MarginLeft(10)
                            .MarginRight(10)
                                    .OnClick(Url.Action("btnClass_ReloadData_Back"), new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .Text(ViewBag.classNumBack)
                    ),
                F.Toolbar()
                    .ID("selectGroup")
                    .Items(
                        F.TwinTriggerBox()
                            .ID("TwinTriggerBox1")
                            .MarginLeft(60)
                            .MarginRight(30)
                            .ShowLabel(false)
                            .LabelAlign(LabelAlign.Right)
                            .OnTrigger1Click(Url.Action("TwinTriggerBox1_Trigger1Click_Back"))
                                .OnTrigger2Click(Url.Action("TwinTriggerBox1_Trigger2Click_Back"), new Parameter("text", "F.ui.TwinTriggerBox1.getValue()"), new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .Trigger1Icon(TriggerIcon.Clear)
                            .ShowTrigger1(false)
                            .EmptyText("搜索学生姓名")
                            .Trigger2Icon(TriggerIcon.Search)
                            .OnClientBlur("onTwinTriggerBox1Blur"),
                        F.TwinTriggerBox()
                            .ID("TwinTriggerBox2")
                            .MarginLeft(30)
                            .MarginRight(30)
                            .ShowLabel(false)
                            .LabelAlign(LabelAlign.Right)
                            .OnTrigger1Click(Url.Action("TwinTriggerBox2_Trigger1Click_Back"))
                                .OnTrigger2Click(Url.Action("TwinTriggerBox2_Trigger2Click_Back"), new Parameter("text", "F.ui.TwinTriggerBox2.getValue()"), new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .Trigger1Icon(TriggerIcon.Clear)
                            .ShowTrigger1(false)
                            .EmptyText("搜索学号")
                            .Trigger2Icon(TriggerIcon.Search)
                            .OnClientBlur("onTwinTriggerBox2Blur"),
                        F.TwinTriggerBox()
                            .ID("TwinTriggerBox3")
                            .MarginLeft(30)
                            .MarginRight(30)
                            .ShowLabel(false)
                            .LabelAlign(LabelAlign.Right)
                            .OnTrigger1Click(Url.Action("TwinTriggerBox3_Trigger1Click_Back"))
                                .OnTrigger2Click(Url.Action("TwinTriggerBox3_Trigger2Click_Back"), new Parameter("text", "F.ui.TwinTriggerBox3.getValue()"), new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .Trigger1Icon(TriggerIcon.Clear)
                            .ShowTrigger1(false)
                            .EmptyText("搜索请假单号")
                            .Trigger2Icon(TriggerIcon.Search)
                            .OnClientBlur("onTwinTriggerBox3Blur"),
                        F.ToolbarSeparator()
                            .MarginLeft(10)
                            .MarginRight(10),
                        F.DropDownList()
                            .ID("ddlST_Class")
                                .OnSelectedIndexChanged(Url.Action("ddlST_Class_SelectedIndexChanged"), "ddlST_Class", new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                            .MarginLeft(30)
                            .MarginRight(30)
                            .EmptyText("请选择班级！")
                    )
            )
            .Columns(
                F.RenderField()
                    .HeaderText("同意销假")
                    .TextAlign(TextAlign.Center)
                    .Width(80)
                    .RendererFunction("btnAgree"),
                    F.RenderField()
                        .HeaderText("请假单号")
                        .Hidden(true)
                        .DataField("ID")
                        .SortField("ID")
                        .TextAlign(TextAlign.Center)
                        .Width(100),
                    F.RenderField()
                        .HeaderText("姓名")
                        .DataField("ST_Name")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                        F.RenderField()
                        .HeaderText("班级")
                        .TextAlign(TextAlign.Center)
                        .DataField("ST_Class")
                        .SortField("ST_Class")
                        .Width(100),
                        F.RenderField()
                        .HeaderText("请假类型")
                        .TextAlign(TextAlign.Center)
                        .DataField("LeaveType")
                        .Width(150),
                        F.RenderField()
                        .HeaderText("提交时间")
                        .TextAlign(TextAlign.Center)
                        .Width(170)
                        .DataField("SubmitTime"),
                        F.RenderField()
                        .HeaderText("离校时间")
                        .Hidden(false)
                        .TextAlign(TextAlign.Center)
                        .DataField("TimeLeave")
                        .FieldType(FieldType.String)
                        .Width(170),
                        F.RenderField()
                        .HeaderText("返校时间")
                        .Hidden(false)
                        .TextAlign(TextAlign.Center)
                        .DataField("TimeBack")
                        .Width(170),
                        F.RenderField()
                        .HeaderText("请假原因")
                        .HeaderTextAlign(TextAlign.Center)
                        .DataField("Reason")
                        .Width(200),
                        F.RenderField()
                        .HeaderText("离校方式")
                        .Hidden(true)
                        .TextAlign(TextAlign.Center)
                        .DataField("LeaveWay")
                        .Width(100),
                        F.RenderField()
                        .HeaderText("返校方式")
                        .Hidden(true)
                        .TextAlign(TextAlign.Center)
                        .DataField("BackWay")
                        .Width(100),
                        F.RenderField()
                        .HeaderText("请假课段")
                        .Hidden(true)
                        .TextAlign(TextAlign.Center)
                        .DataField("Lesson")
                        .Width(180),
                        F.RenderField()
                        .HeaderText("任课老师")
                        .Hidden(true)
                        .TextAlign(TextAlign.Center)
                        .DataField("Teacher")
                        .Width(100),
                        F.RenderField()
                        .HeaderText("审核状态")
                        .TextAlign(TextAlign.Center)
                        .DataField("auditState")
                        .Width(100),
                        F.RenderField()
                        .Hidden(true)
                        .HeaderText("审核人")
                        .TextAlign(TextAlign.Center)
                        .DataField("AuditName")
                        .Width(100),
                        F.RenderField()
                        .Hidden(true)
                        .HeaderText("联系人")
                        .TextAlign(TextAlign.Center)
                        .DataField("ContactOne")
                        .Width(100),
                        F.RenderField()
                        .Hidden(true)
                        .HeaderText("联系方式")
                        .TextAlign(TextAlign.Center)
                        .DataField("OneTel")
                        .Width(100),
                        F.RenderField()
                        .DataField("")
                        .RenderAsRowExpander(true)
                        .RendererFunction("renderExpanderDetail")
            )
            .DataSource(ViewBag.leavetable)
        )

    )
    @(
 F.Window()
        .Hidden(true)
        .Height(900)
        .Width(600)
        .IsModal(true)
        .OnClose(Url.Action("printWindow_Close"))
        .Target(Target.Top)
        .EnableResize(true)
        .EnableMaximize(true)
        .EnableIFrame(true)
        .Title("打印假条")
        .ID("printWindow")
    )
    @(
 F.Window()
        .Hidden(true)
        .Height(230)
        .Width(500)
        .IsModal(true)
        .Layout(LayoutType.Fit)
        .Target(Target.Top)
        .EnableResize(false)
        .EnableMaximize(false)
        .Title("驳回请假")
        .ID("cancelWindow")
        .Items(
            F.Form()
                .ID("cancelreason")
                .BodyPadding(10)
                .AutoScroll(true)
                .ShowHeader(false)
                .ShowBorder(false)
                .IsViewPort(true)
                .Rows(
                    F.FormRow()
                        .Width(480)
                        .Items(
                            F.TextArea()
                                .ID("Reason")
                                .MarginLeft(10)
                                .MarginRight(10)
                                .EmptyText("请输入驳回理由...（不超过30字）")
                                .Width(400)
                                .Height(140)
                        )
                )
                .Toolbars(
                    F.Toolbar()
                        .Items(
                            F.Button()
                                .Icon(Icon.SystemClose)
                                .Text("发送留言")
                                .ID("btnHide")
        //.Listener("click", "F.activeWindow.hide();")
                                    .OnClick(Url.Action("btnCancelClick"), "cancelreason", new Parameter("fields", "F.ui.gridLeaveList_Back.fields"))
                                )
                )


        )

    )
}
