
@{
    ViewBag.Title = "AuditInternship";
    var F = Html.F();
    var LL_ST_Info = (qingjia_MVC.Models.vw_Student)ViewData["LL_ST_Info"];
    var LI_Info = (qingjia_MVC.Models.T_LeaveIntership)ViewData["LI_Info"];
}

@section script{
<script srd="~/res/js/grid.js"></script>
<script>
    F.ready(
        function () {
            var grid1 = F.ui.gridLeaveList_Leave;
            var grid2 = F.ui.gridLeaveList_Back;
            grid1.el.on('click', 'a.action-btn', function (event) {
                var cnode = $(this);
                var rowE1 = $(this).closest('.f-grid-row');
                var rowData = grid1.getRowData(rowE1);
                if (cnode.hasClass('btnCancel1')) {
                    cancel([rowData.id]);
                }
                else if (cnode.hasClass('btnAgree1')) {
                    agree([rowData.id], "leave");
                }
                else if (cnode.hasClass('btnDetails1')) {
                    details([rowData.id]);
                }
                else {

                }
            });
            grid2.el.on('click', 'a.action-btn', function (event) {
                var cnode = $(this);
                var rowE2 = $(this).closest('.f-grid-row');
                var rowData = grid2.getRowData(rowE2);
                if (cnode.hasClass('btnAgree2')) {
                    agree([rowData.id], "back");
                }
                else if (cnode.hasClass('btnDetails2')) {
                    details([rowData.id]);
                }
                else {

                }
            });
        });

    //同意请假
    function agree(selectedRows, type)
    {
        // 触发后台事件
        F.doPostBack('@Url.Action("btnAgreeClick_Intership")', {
            'selectedRows': selectedRows,
            'gridLeaveList_fields1': F.ui.gridLeaveList_Leave.fields,
            'gridLeaveList_fields2': F.ui.gridLeaveList_Back.fields,
            'type': type,
        });
    }

    //拒绝请假
    function cancel(selectedRows)
    {
        // 触发后台事件
        F.doPostBack('@Url.Action("btnCancelClick_Intership")', {
            'selectedRows': selectedRows,
            'gridLeaveList_fields1': F.ui.gridLeaveList_Leave.fields,
            'gridLeaveList_fields2': F.ui.gridLeaveList_Back.fields,
        });
    }

    function details(selectedRows)
    {
        // 触发后台事件
        F.doPostBack('@Url.Action("btnDetails_Intership")', {
            'selectedRows': selectedRows,
            'gridLeaveList_fields1': F.ui.gridLeaveList_Leave.fields,
            'gridLeaveList_fields2': F.ui.gridLeaveList_Back.fields,
        });
    }

    function btnAgree1(value, params) {
        var agreeImageUrl = '@Url.Content("~/res/icon/accept.png")';
        return '<a class="action-btn btnAgree1" href="javascript:;"><img class="f-grid-cell-icon" src="' + agreeImageUrl + '"></a>';
    }

    function btnCancel1(value, params) {
        var deleteImageUrl = '@Url.Content("~/res/icon/delete.png")';
        return '<a class="action-btn btnCancel1" href="javascript:;"><img class="f-grid-cell-icon" src="' + deleteImageUrl + '"></a>';
    }

    function btnDetails1(value, params) {
        return '<a class="action-btn btnDetails1" href="javascript:;">详情</a>';
    }

    function btnAgree2(value, params) {
        var agreeImageUrl = '@Url.Content("~/res/icon/accept.png")';
        return '<a class="action-btn btnAgree2" href="javascript:;"><img class="f-grid-cell-icon" src="' + agreeImageUrl + '"></a>';
    }
    function btnDetails2(value, params) {
        return '<a class="action-btn btnDetails2" href="javascript:;">详情</a>';
    }

</script>

}

@section head {

    <style>
        .photo {
            height: 100px;
            line-height: 100px;
            overflow: hidden;
        }

            .photo img {
                height: 100px;
                vertical-align: middle;
            }
    </style>

}

@section body {

    @(F.Panel()
        .ID("Panel5")
        .ShowBorder(true)
        .Layout(LayoutType.HBox)
        .AutoScroll(true)
        .ShowHeader(true)
        .Title("实习请假")
        .BoxConfigChildMargin("0 5 0 0")
        .BodyPadding(5)
        .IsViewPort(true)
        .Items(
            F.Panel()
                .ID("Panel1")
                .Title("面板1")
                .BoxFlex(1)
                .MinWidth(600)
                .Margin(0)
                .BodyPadding(5)
                .ShowBorder(false)
                .ShowHeader(false)
                .Items(
                    F.Grid()
                        .AllowSorting(true)
                        .SortDirection("")
                        .SortField("")
                        .Title("离校列表")
                        .ShowHeader(true)
                        .ShowBorder(true)
                        .ID("gridLeaveList_Leave")
                        .EnableCheckBoxSelect(false)
                        .AllowPaging(true)
                        .PageSize(20)
                        .DataIDField("ID")
                        .Columns(
                            F.RenderField()
                                .HeaderText("同意")
                                .TextAlign(TextAlign.Center)
                                .Width(50)
                                .RendererFunction("btnAgree1"),
                            F.RenderField()
                                .HeaderText("驳回")
                                .TextAlign(TextAlign.Center)
                                .Width(50)
                                .RendererFunction("btnCancel1"),
                            F.RenderField()
                                .HeaderText("请假单号")
                                .Hidden(true)
                                .DataField("ID")
                                .SortField("ID")
                                .TextAlign(TextAlign.Center)
                                .Width(100),
                            F.RenderField()
                                .HeaderText("姓名")
                                .DataField("ST_Name")
                                .TextAlign(TextAlign.Center)
                                .Width(80),
                            F.RenderField()
                                .HeaderText("班级")
                                .TextAlign(TextAlign.Center)
                                .DataField("ST_Class")
                                .SortField("ST_Class")
                                .Width(100),
                            F.RenderField()
                                .HeaderText("提交时间")
                                .TextAlign(TextAlign.Center)
                                .Width(160)
                                .DataField("SubmitTime"),
                            F.RenderField()
                                .HeaderText("审核状态")
                                .TextAlign(TextAlign.Center)
                                .DataField("auditState")
                                .Width(80),
                            F.RenderField()
                                .HeaderText("详情")
                                .TextAlign(TextAlign.Center)
                                .Width(60)
                                .RendererFunction("btnDetails1")
                        )
                        .DataSource(ViewBag.leavetable)
                ),
            F.Panel()
                .ID("Panel2")
                .Title("面板2")
                .BoxFlex(1)
                .MinWidth(550)
                .Margin(0)
                .BodyPadding(5)
                .ShowBorder(false)
                .ShowHeader(false)
                .Items(
                    F.Grid()
                        .AllowSorting(true)
                        .SortDirection("")
                        .SortField("")
                        .Title("销假列表")
                        .ShowHeader(true)
                        .ShowBorder(true)
                        .ID("gridLeaveList_Back")
                        .EnableCheckBoxSelect(false)
                        .AllowPaging(true)
                        .PageSize(20)
                        .DataIDField("ID")
                        .Columns(
                            F.RenderField()
                                .HeaderText("同意")
                                .TextAlign(TextAlign.Center)
                                .Width(50)
                                .RendererFunction("btnAgree2"),
                            F.RenderField()
                                .HeaderText("请假单号")
                                .Hidden(true)
                                .DataField("ID")
                                .SortField("ID")
                                .TextAlign(TextAlign.Center)
                                .Width(100),
                            F.RenderField()
                                .HeaderText("姓名")
                                .DataField("ST_Name")
                                .TextAlign(TextAlign.Center)
                                .Width(80),
                            F.RenderField()
                                .HeaderText("班级")
                                .TextAlign(TextAlign.Center)
                                .DataField("ST_Class")
                                .SortField("ST_Class")
                                .Width(100),
                            F.RenderField()
                                .HeaderText("约定返校时间")
                                .TextAlign(TextAlign.Center)
                                .Width(160)
                                .DataField("SubmitTime"),
                            F.RenderField()
                                .HeaderText("审核状态")
                                .TextAlign(TextAlign.Center)
                                .DataField("auditState")
                                .Width(80),
                            F.RenderField()
                                .HeaderText("详情")
                                .TextAlign(TextAlign.Center)
                                .Width(60)
                                .RendererFunction("btnDetails2")
                        )
                        .DataSource(ViewBag.backtable)
                )
        )
    )
    @(
 F.Window()
    .Hidden(true)
    .Height(650)
    .Width(650)
    .IsModal(false)
    .Layout(LayoutType.Fit)
    .Target(Target.Top)
    .EnableResize(false)
    .EnableMaximize(true)
    .Title("实习请假详情")
    .ID("DetailWindow")
    .Items(
     F.Form()
        .BodyPadding(1)
        .AutoScroll(true)
        .ShowHeader(false)
        .ShowBorder(false)
        .ID("SimpleForm1")
        .IsViewPort(true)
        .Toolbars(
            F.Toolbar()
                .ToolbarAlign(ToolbarAlign.Center)
                .Position(ToolbarPosition.Bottom)
                .Items(
                    F.Button()
                        .ID("btnSubmit")
                        .IconFont(IconFont.Save)
                        .ValidateForms("SimpleForm1")
                        .CssClass("marginr")
                        .Text("申请请假")
                        .OnClick(Url.Action("leaveInternship_btnSubmit_Click"), "SimpleForm1")
                )
        )
        .Rows(
            F.FormRow()
            .Width(600)
                .Items(
                    F.Label()
                        .Text(@LL_ST_Info.ST_Num)
                        .Label("学号")
                        .ID("ST_Num"),
                    F.Label()
                        .Text(@LL_ST_Info.ST_Name)
                        .Label("姓名")
                        .ID("ST_Name")
                ),
            F.FormRow()
            .Width(600)
                .Items(
                    F.Label()
                        .Text(@LL_ST_Info.ST_Class)
                        .Label("班级")
                        .ID("ST_Class"),
                    F.Label()
                        .Text(@LL_ST_Info.ST_Sex)
                        .Label("性别")
                        .ID("ST_Sex")
                ),
            F.FormRow()
            .Width(600)
                .Items(
                    F.Label()
                        .Text(@LL_ST_Info.ContactOne + "-" + @LL_ST_Info.OneTel)
                        .Label("联系人一")
                        .ID("contactone"),
                    F.Label()
                        .Text(@LL_ST_Info.ContactTwo + "-" + @LL_ST_Info.TwoTel)
                        .Label("联系人二")
                        .ID("contacttwo")
                ),
            F.FormRow()
            .Width(600)
                .Items(
                    F.Label()
                        .Text(@LL_ST_Info.ContactThree + "-" + @LL_ST_Info.ThreeTel)
                        .Label("联系人三")
                        .ID("contactthree")
                ),
            F.FormRow()
            .Width(600)
                .Items(
                    F.Label()
                        .Text(LI_Info.IntershipCompany)
                        .Label("实习单位")
                        .ID("IntershipCompany"),
                    F.Label()
                        .Text(LI_Info.IntershipAddress)
                        .Label("实习地址")
                        .ID("IntershipAddress")
                ),
            F.FormRow()
            .Width(600)
                .Items(
                    F.Label()
                        .Text(@LI_Info.PrincipalName)
                        .Label("联系人")
                        .ID("PrincipalName"),
                    F.Label()
                        .Text(@LI_Info.PrincipalTel)
                        .Label("联系方式")
                        .ID("PrincipalTel")
                ),
            F.FormRow()
            .Width(600)
                .Items(
                    F.Label()
                        .Text(@LI_Info.Note)
                        .Label("实习描述")
                        .ID("Note")
                ),
            F.FormRow()
            .Width(600)
                .Items(
                    F.Label()
                        .Text(@LI_Info.TimeLeave.ToString())
                        .Label("离校日期")
                        .ID("leaveDate"),
                    F.Label()
                        .Text(@LI_Info.TimeBack.ToString())
                        .Label("返校日期")
                        .ID("backDate")
                ),
            F.FormRow()
            .Width(600)
                .Items(
                    F.Image()
                        .Label("上传材料1")
                        .ID("imgPhoto1")
                        .CssClass("photo")
                        .ImageUrl(@LI_Info.Evidence1)
                        .ShowEmptyLabel(true),
                    F.Image()
                        .Label("上传材料2")
                        .ID("imgPhoto2")
                        .CssClass("photo")
                        .ImageUrl(@LI_Info.Evidence2)
                        .ShowEmptyLabel(true)
                ),
                 F.FormRow()
            .Width(600)
                .Items(
                    F.Image()
                        .Label("上传材料3")
                        .ID("imgPhoto3")
                        .CssClass("photo")
                        .ImageUrl(@LI_Info.Evidence3)
                        .ShowEmptyLabel(true)
                )
                )
        )
    )

    )
}
