@{
    ViewBag.Title = "主页";
    var F = @Html.F();
}

@section head{
    <link href="~/Content/css-table.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />

    <style>
        body {
            padding: 10px;
        }

        .page-header {
            margin: 0 0 10px;
            border-bottom: 1px dotted #e2e2e2;
            padding-bottom: 10px;
        }

            .page-header h1 {
                padding: 0;
                margin: 0 8px;
                font-size: 24px;
                font-weight: lighter;
                color: #2679b5;
            }

                .page-header h1 small {
                    margin: 0 6px;
                    font-size: 14px;
                    font-weight: normal;
                    color: #8089a0;
                }



        .f-tabstrip.f-simple .f-icon-home {
            color: #69aa46 !important;
        }

        .badge {
            display: inline-block;
            padding: 0 4px;
            font-size: 12px;
            line-height: 15px;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #999;
            border-radius: 10px;
            margin-left: 5px;
        }

        .badge-danger {
            background-color: #d15b47 !important;
        }

        .largepanelheader > .f-panel-header {
            background-color: #fff;
        }

            .largepanelheader > .f-panel-header .f-panel-icon,
            .largepanelheader > .f-panel-header .f-panel-title-text {
                color: #478fca;
            }

            .largepanelheader > .f-panel-header .f-panel-title-text {
                font-size: 20px;
                line-height: 28px;
            }

        .largepanelheader.green > .f-panel-header .f-panel-icon,
        .largepanelheader.green > .f-panel-header .f-panel-title-text {
            color: #69aa46;
        }

        .largepanelheader.orange > .f-panel-header .f-panel-icon,
        .largepanelheader.orange > .f-panel-header .f-panel-title-text {
            color: #ff892a;
        }

        .largepanelheader.purple > .f-panel-header .f-panel-icon,
        .largepanelheader.purple > .f-panel-header .f-panel-title-text {
            color: #892e65;
        }

        .largepanelheader.purple > .f-panel-header{
            background-color:transparent;
        }



        .accordionpane1 .f-panel-icon,
        .accordionpane1 .f-panel-title-text {
            color: #892e65 !important;
        }

        .accordionpane2 .f-panel-icon,
        .accordionpane2 .f-panel-title-text {
            color: #2E8965 !important;
        }

        .accordionpane3 .f-panel-icon,
        .accordionpane3 .f-panel-title-text {
            color: #F2BB46 !important;
        }

        .howtouse li {
            margin-bottom: 5px;
        }

            .howtouse li pre {
                margin: 5px 0;
                font-size: 11px;
                font-style: italic;
            }
    </style>

}

@section script{

}

@section body{

    <div class="page-header" style="margin-top:10px;">
        <h1>
            <strong>请假系统</strong>
            <small>
                <i class="ui-icon f-icon-angle-double-right"></i>
                学生端口
            </small>
        </h1>
    </div>

    <div id="panelCallName">
        <table class="table" style="width:70%; margin-left:auto; margin-right:auto; margin-top:80px;">
            <tr>
                <td colspan="2" style="text-align:right;">
                    <b>
                        辅导员：
                    </b>
                </td>
                <td colspan="2" style="text-align:left;">
                    @(F.Label()
                        .ID("lblTName")
                        .Text(ViewBag.lblTName)
                    )
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:right;">
                    <b>
                        年级：
                    </b>
                </td>
                <td colspan="2" style="text-align:left;">
                    @(F.Label()
                        .ID("lblTGrade")
                        .Text(ViewBag.lblTGrade)
                    )
                </td>
            </tr>
            @if (ViewBag.IsTeacherIDExist == "1")
            {
                <tr>
                    <td colspan="4">
                        <table class="table table-hover table-bordered" style="width:100%; margin-left:auto; margin-right:auto; margin-top:20px;">
                            <tr>
                                <th>
                                    点名批次
                                </th>
                                <th>
                                    时间
                                </th>
                                <th>
                                    班级
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    第一批
                                </td>
                                <td>
                                    @(F.Label()
    .ID("lblTimeFirst")
    .Text(ViewBag.lblTimeFirst)
                                    )
                                </td>
                                <td>
                                    @(F.Label()
    .ID("lblClassFirst")
    .Text(ViewBag.lblClassFirst)
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    第二批
                                </td>
                                <td>
                                    @(F.Label()
    .ID("lblTimeSecond")
    .Text(ViewBag.lblTimeSecond)
                                    )
                                </td>
                                <td>
                                    @(F.Label()
    .ID("lblClassSecond")
    .Text(ViewBag.lblClassSecond)
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    第三批
                                </td>
                                <td>
                                    @(F.Label()
    .ID("lblTimeThird")
    .Text(ViewBag.lblTimeThird)
                                    )
                                </td>
                                <td>
                                    @(F.Label()
    .ID("lblClassThird")
    .Text(ViewBag.lblClassThird)
                                    )
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right; width:40%; font-size:18px;">
                        <b>
                            晚点名请假截止时间：
                        </b>
                    </td>
                    <td colspan="2" style="text-align:left; width:60%; font-size:16px;">
                        <b>
                            @(F.Label()
            .ID("lblDeadlineNight")
            .Text(ViewBag.lblDeadlineNight)
                            )

                        </b>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="2" style="text-align:right; width:40%; font-size:18px;">
                        <b>
                            晚点名请假截止时间：
                        </b>
                    </td>
                    <td colspan="2" style="text-align:left; width:60%; font-size:16px;">
                        <b>
                            @(F.Label()
                                .ID("lblDeadlineNight")
                                .Text("尚未设定辅导员，请联系管理员")
                            )

                        </b>
                    </td>
                </tr>
            }
        </table>
    </div>

    @(

 F.Panel()
    .BodyPadding(5)
    .ShowBorder(false)
    .ShowHeader(false)
    .IsViewPort(true)
    .Layout(LayoutType.Region)
    .ID("HomePanel")
    .IsViewPort(true)
    .Items(
        F.Panel()
            .BodyPadding("0 0")
            .EnableCollapse(true)
            .ShowHeader(false)
            .ShowBorder(false)
            .RegionPosition(Position.Top)
            .ID("topPanel")
            .ContentEl(".page-header"),
        F.Panel()
            .Height(540)
            .MarginBottom(10)
            .BodyPadding(10)
            .ShowHeader(true)
            .ShowBorder(false)
            .RegionPosition(Position.Top)
            .Title("晚点名安排")
            .IconFont(IconFont.User)
            .CssClass("largepanelheader purple")
            .ID("InfoPanel")
            .ContentEl("#panelCallName"),
        F.Panel()
            .Hidden(true)
            .Height(240)
            .MarginBottom(10)
            .BodyPadding(10)
            .ShowHeader(true)
            .ShowBorder(false)
            .RegionPosition(Position.Top)
            .Title("年级情况")
            .IconFont(IconFont.User)
            .CssClass("largepanelheader purple")
            .ID("InfoPanel")
            .Items(
                F.Panel()
                    .AutoScroll(true)
                    .RegionPosition(Position.Center)
                    .Layout(LayoutType.Column)
                    .ShowBorder(false)
                    .ShowHeader(false)
                    .Items(
                        F.Panel()
                            .MarginRight(10)
                            .ColumnWidth("30%")
                            .BodyPadding(10)
                            .Title("姓名")
                            .IconFont(IconFont.AlignJustify)
                            .CssClass("largepanelheader green")
                            .ShowBorder(false)
                            .ShowHeader(false)
                            .Height(150)
                            .ID("infoLeftPanel")
        //.ContentEl(".info-table"),
                            ,
                        F.Panel()
                            .ColumnWidth("70%")
                            .Height(150)
                            .BodyPadding(10)
                            .Title("年级")
                            .IconFont(IconFont.AlignJustify)
                            .CssClass("largepanelheader orange")
                            .ShowBorder(false)
                            .ShowHeader(false)
                            .ID("infoRightPanel")
        //.ContentEl(".leave-info-table")
                    )
            ),
        F.Panel()
            .Hidden(true)
            .AutoScroll(true)
            .RegionPosition(Position.Center)
            .Layout(LayoutType.Column)
            .ShowBorder(false)
            .ShowHeader(false)
            .Items(
                F.Panel()
                    .MarginRight(10)
                    .ColumnWidth("50%")
                    .BodyPadding(10)
                    .Title("晚点名设置")
                    .IconFont(IconFont.AlignJustify)
                    .CssClass("largepanelheader green")
                    .ShowBorder(false)
                    .ShowHeader(true)
                    .Height(450)
                    .ID("leftPanel"),
                    //.ContentEl("#panelCallName"),
                F.Panel()
                    .ColumnWidth("50%")
                    .Height(450)
                    .BodyPadding(10)
                    .Title("节假日安排")
                    .IconFont(IconFont.AlignJustify)
                    .CssClass("largepanelheader orange")
                    .ShowBorder(false)
                    .ShowHeader(true)
                    .ID("rightPanel")
                    //.ContentEl("#panelHoliday")
            )
    )

    )
}

