
@{
    ViewBag.Title = "Index";
    var F = Html.F();
}

@section body{
    <div id="night">
        
        @(F.DatePicker()
                .ID("dpNight")
                .Required(true)
                .Label("截止时间")
                .Width(250)
                .EmptyText("请选择截止时间")
                .DateFormatString("yyyy-MM-dd")
                .SelectedDate(ViewBag.DateNight)
                .EnableEdit(false)
                
    )
        @(F.TimePicker()
                .ID("tpNight")
                .Required(true)
                .Width(150)
                .Increment(30)
                .MinTimeText("9:00")
                .MaxTimeText("23:30")
                .EnableEdit(false)
                .EmptyText("请选择时间")
                .Label("时间")
                .Text(ViewBag.TimeNight)
                .ShowLabel(false)
        )
        <br />
        @(F.Button()
            .ID("btnNight")
            .Text("提交")
            .ValidateForms("formNight")
            .OnClick(Url.Action("btnNight_Click"),"formNight")
    )
    </div>
    <div id="vacation">
        @(F.DatePicker()
                .ID("dpVacation")
                .Required(true)
                .Width(250)
                .Label("截止时间")
                .EmptyText("请选择新的截止时间")
                .DateFormatString("yyyy-MM-dd")
                .SelectedDate(ViewBag.DateVacation)
                .EnableEdit(false)
        )
        @(F.TimePicker()
                .ID("tpVacation")
                .Required(true)
                .Width(150)
                .Increment(30)
                .MinTimeText("9:00")
                .MaxTimeText("21:00")
                .EnableEdit(false)
                .EmptyText("请选择时间")
                .Text(ViewBag.TimeVacation)
                .Label("时间")
                .ShowRedStar(true)
                .ShowLabel(false)
        )
        <br />
        @(F.Button()
                .ID("btnVacation")
                .Text("提交")
                .ValidateForms("formVacation")
                .OnClick(Url.Action("btnVacation_Click"), "formVacation")
        )
    </div>



    @(F.TabStrip()
        .ShowBorder(true)
        .TabPosition(TabPosition.Top)
        .EnableTabCloseMenu(false)
        .ActiveTabIndex(0)
        .Margin(20)
        .IsViewPort(true)
        .Items(
            F.Tab()
                .Title("晚点名请假")
                .BodyPadding(5)
                .Layout(LayoutType.Fit)
                .Items(
                    F.Form()
                        .ID("formNight")
                        .ShowBorder(false)
                        .ShowHeader(false)
                        .ContentEl("#night")

                ),
            F.Tab()
                .Title("节假日请假")
                .BodyPadding(5)
                .Layout(LayoutType.Fit)
                .Items(
                    F.Form()
                        .ID("formVacation")
                        .ShowBorder(false)
                        .ShowHeader(false)
                        .ContentEl("#vacation")
                )


        )




    )
}

