
@{
    ViewBag.Title = "晚点名名单";
    var F = Html.F();
}

@section body{
    <div id="namelist">
        <h3>请假名单</h3>
        <table>
            <tr>
                <th>班级：</th>
                <td>
                    @(F.DropDownList()
                        .ID("ddlClass")
                        .Required(true)
                        .Width(150)
                        .AutoSelectFirstItem(false)
                        .EmptyText("请选择班级")
                        .Label("班级")
                        .ShowLabel(false)
                        .DataTextField("Name")
                        .DataValueField("ID")
                        .DataSource(ViewBag.ddlClass_DataSource)
                    )
                </td>
            </tr>
            <tr>
                <th>请假学生：</th>
                <td>
                    @(F.TextArea()
                        .ID("taName")
                        .Width(200)
                        .AutoGrowHeight(true)
                        .AutoGrowHeightMin(100)
                        .AutoGrowHeightMax(200)
                    )
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    @(F.Button()
                        .ID("btnSearch")
                        .Text("查询")
                        .ValidateForms("sfName")
                        .OnClick(Url.Action("btnSearch_Click"),
                            "sfName",
                            new Parameter("ddlclass", "ddlClass")
                        )
                    )
                </td>
            </tr>
            <tr>
                <th>导出晚点名名单到EXCEL</th>
                <td>
                    @(F.Button()
                        .ID("btnGetFirst")
                        .Text("导出")
                        .Listener("click", "onButtonClick")
                        
                    )
                </td>
            </tr>
        </table>
    </div>

    @(F.SimpleForm()
        .ID("sfName")
        .BodyPadding(5)
            .ShowBorder(false)
            .ShowHeader(false)
        .IsViewPort(true)
        .ContentEl("#namelist")
    )
}

@section script{
    <script src="~/res/js/grid.js"></script>

    <script>

        function onButtonClick(event) {
            window.location.href = '@Url.Action("setNightNameList")';

        }

    </script>
}

