@{
    ViewBag.Title = "请假";
    var F = @Html.F();
    var studentInfo =(qingjia_MVC.Models.vw_Student) ViewData["studentInfo"] ;
    var LeaveListExist = ViewBag.LeaveListExist;
        }

        @section head {

            <style>
                body {
                    padding: 10px;
                }

                .page-header {
                    margin: 0 0 10px;
                    border-bottom: 1px dotted #e2e2e2;
                    padding-bottom: 10px;
                }

                    .page-header h1 {
                        padding: 0;
                        margin: 0 8px;
                        font-size: 24px;
                        font-weight: lighter;
                        color: #2679b5;
                    }

                        .page-header h1 small {
                            margin: 0 6px;
                            font-size: 14px;
                            font-weight: normal;
                            color: #8089a0;
                        }



                .f-tabstrip.f-simple .f-icon-home {
                    color: #69aa46 !important;
                }

                .badge {
                    display: inline-block;
                    padding: 0 4px;
                    font-size: 12px;
                    line-height: 15px;
                    color: #fff;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    background-color: #999;
                    border-radius: 10px;
                    margin-left: 5px;
                }

                .badge-danger {
                    background-color: #d15b47 !important;
                }

                .largepanelheader > .f-panel-header {
                    background-color: #fff;
                }

                    .largepanelheader > .f-panel-header .f-panel-icon,
                    .largepanelheader > .f-panel-header .f-panel-title-text {
                        color: #478fca;
                    }

                    .largepanelheader > .f-panel-header .f-panel-title-text {
                        font-size: 20px;
                        line-height: 28px;
                    }

                .largepanelheader.green > .f-panel-header .f-panel-icon,
                .largepanelheader.green > .f-panel-header .f-panel-title-text {
                    color: #69aa46;
                }
                .largepanelheader.green > .f-panel-header{
                    background-color:transparent;
                }

                .largepanelheader.orange > .f-panel-header .f-panel-icon,
                .largepanelheader.orange > .f-panel-header .f-panel-title-text {
                    color: #ff892a;
                }
                .largepanelheader.orange > .f-panel-header{
                    background-color:transparent;
                }

                .largepanelheader.purple > .f-panel-header .f-panel-icon,
                .largepanelheader.purple > .f-panel-header .f-panel-title-text {
                    color: #892e65;
                }
                .largepanelheader.purple > .f-panel-header{
                    background-color:transparent;
                }



                .accordionpane1 .f-panel-icon,
                .accordionpane1 .f-panel-title-text {
                    color: #892e65 !important;
                }

                .accordionpane2 .f-panel-icon,
                .accordionpane2 .f-panel-title-text {
                    color: #2E8965 !important;
                }

                .accordionpane3 .f-panel-icon,
                .accordionpane3 .f-panel-title-text {
                    color: #F2BB46 !important;
                }

                .howtouse li {
                    margin-bottom: 5px;
                }

                    .howtouse li pre {
                        margin: 5px 0;
                        font-size: 11px;
                        font-style: italic;
                    }
                
            </style>

            <link href="~/Content/css-table.css" type="text/css" rel="stylesheet" />
            <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />

        }

        @section script {

            <script>
                function AddLeave(event) {
                    F.ui.window_leave.show('@Url.Content("~/Leave/LeaveList/leaveschool")', '离校请假');
                }
                function AddSpecial(event) {
                    F.ui.window_leave.show('@Url.Content("~/Leave/LeaveList/leavespecial")', '特殊请假');
                }
                function AddClass(event) {
                    F.ui.window_leave.show('@Url.Content("~/Leave/LeaveList/leaveclass")', '上课请假备案');
                }
                @*function AddInternship(event) {
                    F.ui.window_leave.show('@Url.Content("~/Leave/LeaveList/leaveinternship")', '实习请假');
                }*@
                function changeInfo() {
                    F.ui.changeInfo.show('@Url.Content("~/UserInfo/UserInfo/Index")', '修改个人信息');
                }

                function leaveList() {
                    F.ui.windowLeaveList.show('@Url.Content("~/Leave/LeaveList/LeaveList")', '查看全部请假记录');
                }
            </script>

        }

        @section body{

            <div class="page-header" style="margin-top:10px;">
                <h1>
                    <strong>请假系统</strong>
                    <small>
                        <i class="ui-icon f-icon-angle-double-right"></i>
                        相关信息展示
                    </small>
                </h1>
            </div>

            <!--基本信息-->
            <div class="info-table">
                <!--表格展示个人信息-->
                <!--包含姓名年级、-->
                <h1 style="font-size:20px; margin-top:0px;">基本信息</h1>
                <table class="table table-hover">
                    
                    <tr>
                        <td style="text-align:right;">
                            姓名：
                        </td>
                        <td style="text-align:left;">
                            @(studentInfo.ST_Name.ToString().Trim())
                        </td>
                        <td style="text-align:right;">
                            学院：
                        </td>
                        <td style="text-align:left;">
                            管理学院
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">
                            年级：
                        </td>
                        @if (studentInfo.ST_Grade == null || studentInfo.ST_Grade == "")
                        {
                            <td style="text-align:left;">
                                未设定年级
                            </td>
                        }
                        else
                        {
                            <td style = "text-align:left;">
                                @(studentInfo.ST_Grade.ToString().Trim())级
                            </td>
                        }
                        <td style="text-align:right;">
                            班级：
                        </td>
                        <td style="text-align:left;">
                            @studentInfo.ST_Class.ToString().Trim()
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">
                            辅导员：
                        </td>
                        @if (studentInfo.ST_Teacher == null || studentInfo.ST_Teacher == "")
                        {
                            <td style="text-align:left;">
                                未设定辅导员
                            </td>
                        }
                        else
                        {
                            <td style="text-align:left;">
                                @studentInfo.ST_Teacher.ToString().Trim()
                            </td>
                        }
                        
                        <td></td>
                        @*<td><a href="@Url.Content("~/UserInfo/UserInfo/Index")">修改个人信息</a></td>*@
                        <td><a href="javascript:changeInfo()">修改个人信息</a></td>
                    </tr>
                </table>
            </div>
            <!--个人详情-->
            <div class="leave-info-table">
                <!--表格展示请假相关信息-->
                <!--包含姓名年级、-->
                <h1 style="font-size:20px; margin-top:0px;">个人详情-尚未实现</h1>
                <table class="table table-hover">
                    <tr>
                        <td style="text-align:right;">
                            累计请假次数：
                        </td>
                        <td style="text-align:left;">
                            2次
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align:right;">
                            待销假情况：
                        </td>
                        <td style="text-align:left;">
                            您有1条待销假需处理
                        </td>
                    </tr>
                </table>
            </div>
            <!--请假-->
            <div class="buttonGroup" style="text-align:center;">
                <br />
                @if (studentInfo.ST_Grade == null || studentInfo.ST_Grade == "" || studentInfo.ST_TeacherID == null || studentInfo.ST_TeacherID == "")
                {
                    <div>
                        <button type="button" disabled="disabled" id="btnLeave" class="btn btn-primary btn-lg" style="width:80%; margin:10px;" onclick="AddLeave()">离校请假</button>
                    </div>
                    <div>
                        <button type="button" disabled="disabled" id="btnSpecial" class="btn btn-success btn-lg" style="width:80%; margin:10px;" onclick="AddSpecial()">特殊请假</button>
                    </div>
                    <div>
                        <button type="button" disabled="disabled" id="btnClass" class="btn btn-info btn-lg" style="width:80%; margin:10px;" onclick="AddClass()">上课请假备案</button>
                    </div>
                }
                else
                {
                    <div>
                        <button type="button" id="btnLeave" class="btn btn-primary btn-lg" style="width:80%; margin:10px;" onclick="AddLeave()">离校请假</button>
                    </div>
                    <div>
                        <button type="button" id="btnSpecial" class="btn btn-success btn-lg" style="width:80%; margin:10px;" onclick="AddSpecial()">特殊请假</button>
                    </div>
                    <div>
                        <button type="button" id="btnClass" class="btn btn-info btn-lg" style="width:80%; margin:10px;" onclick="AddClass()">上课请假备案</button>
                    </div>
                }

                @*<div>
                    <button type="button" id="btnInternship" class="btn btn-primary btn-lg" style="width:80%; margin:10px;" onclick="AddInternship()">实习请假</button>
                </div>*@

            </div>
            <!--请假记录-->
            <div class="leavelist-table">
                @if (LeaveListExist)
                {
                    <div id="a">
                        <table class="table table-hover table-bordered" style="text-align:center; margin-top:10px;">
                            <tr>
                                <th style="text-align:center;">
                                    请假单号
                                </th>
                                <th style="text-align:center;">
                                    状态
                                </th>
                                <th style="text-align:center;">
                                    请假类型
                                </th>
                                <th style="text-align:center;">
                                    请假原因
                                </th>
                                <th style="text-align:center;">
                                    请假时间
                                </th>
                                <th style="text-align:center;">
                                    返回时间
                                </th>
                            </tr>
                            @foreach (var leavelist in ViewData["leaveList"] as List<qingjia_MVC.Models.vw_LeaveList>)
                            {
                                <tr >
                                    <td>
                                        @leavelist.ID
                                    </td>
                                    <td>
                                        @leavelist.StateLeave
                                    </td>
                                    <td>
                                        @leavelist.LeaveType
                                    </td>
                                    <td>
                                        @leavelist.Reason
                                    </td>
                                    <td>
                                        @leavelist.TimeLeave
                                    </td>
                                    <td>
                                        @leavelist.TimeBack
                                    </td>
                                </tr>
                            }
                        </table>
                        <a href="javascript:leaveList()"><h1 style="font-size:18px; text-align:left; margin-right:20px;">查看全部请假记录</h1></a>
                    </div>
                }
                else
                {
                    <div id="b">
                        不存在请假记录。
                    </div>
                }
            </div>

            @(
    F.Panel()
    .BodyPadding(15)
    .ShowBorder(false)
    .ShowHeader(false)
    .IsViewPort(true)
    .Layout(LayoutType.Region)
    .ID("HomePanel")
    .IsViewPort(true)
    .Items(
        F.Panel()
            .BodyPadding("0 0")
            .EnableCollapse(true)
            .ShowHeader(false)
            .ShowBorder(false)
            .RegionPosition(Position.Top)
            .ID("topPanel")
            .ContentEl(".page-header"),
        F.Panel()
            .Height(240)
            .MarginBottom(10)
            .BodyPadding(10)
            .ShowHeader(true)
            .ShowBorder(false)
            .RegionPosition(Position.Top)
            .Title("个人信息")
            .IconFont(IconFont.User)
            .CssClass("largepanelheader purple")
            .ID("InfoPanel")
            .Items(
                F.Panel()
                    .AutoScroll(true)
                    .RegionPosition(Position.Center)
                    .Layout(LayoutType.Column)
                    .ShowBorder(false)
                    .ShowHeader(false)
                    .Items(
                        F.Panel()
                            .MarginRight(10)
                            .ColumnWidth("30%")
                            .BodyPadding(10)
                            .Title("姓名")
                            .IconFont(IconFont.AlignJustify)
                            .CssClass("largepanelheader green")
                            .ShowBorder(false)
                            .ShowHeader(false)
                            .Height(150)
                            .ID("infoLeftPanel")
                            .ContentEl(".info-table"),
                        F.Panel()
                            .ColumnWidth("70%")
                            .Height(150)
                            .BodyPadding(10)
                            .Title("年级")
                            .IconFont(IconFont.AlignJustify)
                            .CssClass("largepanelheader orange")
                            .ShowBorder(false)
                            .ShowHeader(false)
                            .ID("infoRightPanel")
                            .ContentEl(".leave-info-table")
                    )
            ),
        F.Panel()
            .AutoScroll(true)
            .RegionPosition(Position.Center)
            .Layout(LayoutType.Column)
            .ShowBorder(false)
            .ShowHeader(false)
            .Items(
                F.Panel()
                    .MarginRight(10)
                    .ColumnWidth("30%")
                    .BodyPadding(10)
                    .Title("我要请假")
                    .IconFont(IconFont.AlignJustify)
                    .CssClass("largepanelheader green")
                    .ShowBorder(false)
                    .ShowHeader(true)
                    .Height(350)
                    .ID("leftPanel")
                    .ContentEl(".buttonGroup"),
                F.Panel()
                    .ColumnWidth("70%")
                    .Height(350)
                    .BodyPadding(10)
                    .Title("请假记录")
                    .IconFont(IconFont.AlignJustify)
                    .CssClass("largepanelheader orange")
                    .ShowBorder(false)
                    .ShowHeader(true)
                    .ID("rightPanel")
                    .ContentEl(".leavelist-table")
            )
    )
            )

@(F.Window()
        .ID("window_leave")
        .Width(900)
        .Height(600)
        .IsModal(true)
        .Hidden(true)
        .Target(Target.Parent)
        .EnableResize(true)
        .EnableMaximize(true)
        .EnableIFrame(true)
        .IFrameUrl(Url.Content("about:blank"))
        .OnClose(Url.Action("window_leave_Close"))
            )

@(F.Window()
        .ID("changeInfo")
        .Width(1000)
        .Height(800)
        .IsModal(true)
        .Hidden(true)
        .Target(Target.Parent)
        .EnableResize(true)
        .EnableMaximize(true)
        .EnableIFrame(true)
        .IFrameUrl(Url.Content("~/UserInfo/UserInfo/Index"))
        .OnClose(Url.Action("changeInfo_Close"))
)

@(F.Window()
        .ID("windowLeaveList")
        .Maximized(true)
        .IsModal(true)
        .Hidden(true)
        .Target(Target.Parent)
        .EnableResize(true)
        .EnableMaximize(true)
        .EnableIFrame(true)
        .IFrameUrl(Url.Content("~/Leave/LeaveList/LeaveList"))
        .OnClose(Url.Action("changeInfo_Close"))
)

        }


